{% extends "base.html" %}

{% block javascript %}
  <script>
  function myFunction() {
   document.getElementById("msg").innerHTML = "processing.....";
  }
</script>
{% endblock %}

{% block content %}
	<h1>Metagenomics Classifier</h1>
	<p>Enter your DNA sequence below and click predict to find out taxonomy...</p>
	<form name='form' method="POST" action="/predict">                     
		<div class="form-group">
			<label>Genetic-Code</label>
			<textarea class="form-control"  rows="5" name="code" onfocus="this.value=''" >Please write DNA sequence here.</textarea>
		</div>
		<button type="submit" class="btn btn-default" onclick="myFunction()">Predict</button>
		<h4 class="bg-success" id="msg"></h4>
	</form>
	{% for msg in get_flashed_messages() %}
      <h4 class="bg-warning">{{ msg }}</h4>
    {% endfor %}
	{% if error %}
	   <h3 class="bg-warning" id="result">Please enter valid input</h3>
	{% endif %}
	<h3 class="bg-info" id="result">sample input-</h3>
	<p class="bg-info" id="result">GATGAACGCTGGCGGCGTGCCTAACACATGCAAGTCGAGCGGAGTTTAACTGGAAGCACTTGT<br>GCGACCGGATAAACTTAGCGGCGGACGGGTGAGTAACACGTGAGCAACCTACCTATCGCAGGG</br>CCAGTGCTAATACCGCATAACATCTTTTGGGGGCATCCCCGGAAGATCAAAGGATTTCGATCCG<br/>GGCTCGCGTCCGATTAGCTAGTTGGTAAGGTAAAAGCTTACCAAGGCAACGATCGGTAGCCGAA<br/>GACTGAGACACGGCCCAGGCTCCTACGGGAGGCAGCAGTGGGGAATATTGGGCAATGGGGGA<br/>GTGAAGGAAGAAGGCCTTCGGGTTGTAAACTTCTTTGATCAGGGACGAAACAAATGACGGTACC</p>
{% endblock %}